// Colors 
$off-black:#20222b;
$off-white:#a5afd7;
$dark-blue:#333745;
$blue:#3c4251;
$light-blue:#464b5e;
$purple:#8357c5;

$diamond:#C9FBFF;
$italian-sky-blue: #C2FCF7;
$pearl-aqua: #85BDBF;
$payne-grey: #57737A;
$rich-black: #040F0F;
$maastricht-blue: #011627;
$blue-green: #99D5C9;
$destat-cyan: #6C969D;
$dark-blue-gray: #645E9D;

// size
$m-size:1.6rem;
$s-size:1rem;
$l-size:3.2rem;
$xl-size:4.8rem;


$desktop-breakpoint : 45rem;
